@import "../global/variables";
@import "../global/utils";

.account {
  @media screen and (max-width: 960px) {
    padding: 0;
  }
  h3 {
      @media screen and (max-width: 960px) {
          font-size: 1.50rem;
      }
  }

  &-nav {
      padding: 20px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 5;
      background: transparent;
      transition: all 0.3s ease;

      &.sticky {
          background: $white;
          box-shadow: 0px 1px 4px rgba($dark, 0.1);
      }

      @media screen and (max-width:960px) {
          padding: 15px;
      }

      .nav-pills .nav-link {
          color: $white;
          line-height: 1.4;
      }
  }

  &-form-wrapper {
      min-height: 100vh;
      padding: 80px 0 20px 0;
      &-collapse-mobile {
        @media screen and (max-width: 959px) {
            min-height: 0;
            padding: 0;
        }
      }
  }

  &-form {
      max-width: 380px;
      margin: 0 auto;

      @media screen and (min-width: 960px) and (max-width: 1200px) {
        max-width: 280px;
      }

      hr {
          width: 16px;
      }

      .btn {
          img {
              width: 24px;
              height: auto;
          }
      }

      .btn-primary {
          color: $white;
      }

      .btn-outline-secondary {
          color: $dark;
      }
  }

  .alert {
      ul {
          margin: 0;
          padding: 0;
          list-style: none;
      }

      .close {
          outline: none;
      }
  }

  &-content {
    h1 {
      font-size: rem(48px);
    }

    h2 {
      margin-bottom: rem(16px);
    }

    p {
      font-size: rem(20px);
      margin-bottom: rem(16px);
    }

    @media screen and (max-width:600px){
      h1 {
        font-size: rem(30px);
      }
      h2 {
        font-size: rem(22px);
      }
      p {
        font-size: rem(16px);
      }
    }
  }
}
